---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 style="margin-bottom: 0px">{{ title }}</h1>
<p class="subtitle">{{ description }}</p>
<div class="author-and-date">
  <div style="margin-right: 10px;">
    Published {{ page.date.toLocaleDateString("en-US", { timeZone: 'UTC', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}
  </div>
  {% if author %}
    <div>
      Written by {{ author }}
    </div>
  {% endif %}
</div>


<div class="tmpl-post-contents">

  {{ content | safe }}

</div>

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>

